In [40]:
%matplotlib inline

In [41]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [42]:
year = 2015
path = '/public/npatil4/dataMining/data/daily/combined_long/'

In [43]:
data_long = pd.read_csv(path+'combined_long_'+str(year)+'.csv',sep='|')

In [44]:
columns_all = [x.replace(' ','') for x in data_long.columns]
data_long.columns =  columns_all

In [45]:
data_long.head()

,DateLocal,CityName,CountyName,StateName,Latitude,Longitude,ParameterName,ArithmeticMean
0,2015-01-01,Air Force Academy,El Paso,Colorado,38.958341,-104.817215,Ozone,0.035167
1,2015-01-01,Akron,Summit,Ohio,41.063526,-81.468956,PM2.5 - Local Conditions,10.225000
2,2015-01-01,Akron,Summit,Ohio,41.063526,-81.468956,Sulfur dioxide,1.237267
3,2015-01-01,Akron,Summit,Ohio,41.106486,-81.503547,Carbon monoxide,0.100000
4,2015-01-01,Albany,Albany,New York,42.680750,-73.757330,Carbon monoxide,0.115680

In [46]:
data_wide = data_long.pivot_table(values=['ArithmeticMean'],
                           columns=['ParameterName'],
                           index=columns_all[:-2])
#data_wide = data_wide.reset_index()

In [47]:
data_wide.columns = data_wide.columns.get_level_values(1)
data_wide.reset_index(inplace=True)
data_wide.columns.name=None

In [48]:
data_wide.head()

,DateLocal,CityName,CountyName,StateName,Latitude,Longitude,Barometric pressure,Carbon monoxide,Dew Point,Nitrogen dioxide (NO2),Outdoor Temperature,Ozone,PM2.5 - Local Conditions,Relative Humidity,Sulfur dioxide,Wind Speed - Resultant
0,2015-01-01,Air Force Academy,El Paso,Colorado,38.958341,-104.817215,NaN,NaN,NaN,NaN,NaN,0.035167,NaN,NaN,NaN,NaN
1,2015-01-01,Akron,Summit,Ohio,41.063526,-81.468956,NaN,NaN,NaN,NaN,NaN,NaN,10.225000,NaN,1.237267,NaN
2,2015-01-01,Akron,Summit,Ohio,41.106486,-81.503547,NaN,0.10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-01,Albany,Albany,New York,42.680750,-73.757330,NaN,0.11568,NaN,NaN,NaN,0.022333,NaN,NaN,3.152083,NaN
4,2015-01-01,Albany,Dougherty,Georgia,31.576917,-84.100194,NaN,NaN,NaN,NaN,NaN,NaN,17.469444,NaN,NaN,NaN

In [49]:
columns_all = [x.replace(' ','') for x in data_wide.columns]
data_wide.columns =  [str(x) for x in columns_all]

In [50]:
data_wide = data_wide[~data_wide['PM2.5-LocalConditions'].isnull()]

In [51]:
data_wide['DateLocal'] = pd.to_datetime(data_wide.DateLocal)
data_wide['Month'] = data_wide.DateLocal.dt.month
data_wide['Weekday'] = data_wide.DateLocal.dt.weekday

In [52]:
data_wide.columns

Index([u'DateLocal', u'CityName', u'CountyName', u'StateName', u'Latitude',
       u'Longitude', u'Barometricpressure', u'Carbonmonoxide', u'DewPoint',
       u'Nitrogendioxide(NO2)', u'OutdoorTemperature', u'Ozone',
       u'PM2.5-LocalConditions', u'RelativeHumidity', u'Sulfurdioxide',
       u'WindSpeed-Resultant', u'Month', u'Weekday'],
      dtype='object')

In [53]:
data_wide.rename(index=str,
                 inplace=True,
                 columns={'PM2.5-LocalConditions':'PM',
                         'WindSpeed-Resultant':'WindSpeed',
                         'Nitrogendioxide(NO2)':'NitrogenDioxide'})

In [29]:
data_wide.to_csv('/public/npatil4/dataMining/data/daily/combined_wide/combined_wide_'+str(year)+'.txt',
                 sep='|',
                 index=False)

In [30]:
data_wide.head()

,DateLocal,CityName,CountyName,StateName,Latitude,Longitude,Barometricpressure,Carbonmonoxide,DewPoint,NitrogenDioxide,OutdoorTemperature,Ozone,PM,RelativeHumidity,Sulfurdioxide,WindSpeed,Month,Weekday
1,2015-01-01,Akron,Summit,Ohio,41.063526,-81.468956,NaN,NaN,NaN,NaN,NaN,NaN,10.225000,NaN,1.237267,NaN,1,3
4,2015-01-01,Albany,Dougherty,Georgia,31.576917,-84.100194,NaN,NaN,NaN,NaN,NaN,NaN,17.469444,NaN,NaN,NaN,1,3
5,2015-01-01,Albuquerque,Bernalillo,New Mexico,35.063100,-106.578785,NaN,NaN,NaN,NaN,NaN,0.013458,14.543750,NaN,NaN,NaN,1,3
6,2015-01-01,Albuquerque,Bernalillo,New Mexico,35.134300,-106.585200,849.541667,0.337082,NaN,NaN,25.8125,0.013833,19.322500,68.541667,0.520833,2.254167,1,3
13,2015-01-01,Altoona,Blair,Pennsylvania,40.535278,-78.370833,NaN,NaN,NaN,NaN,NaN,0.028167,8.133334,NaN,4.435416,NaN,1,3